<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNes.Properties.Settings>
            <setting name="WinLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="WinSize" serializeAs="String">
                <value>528, 511</value>
            </setting>
            <setting name="Audio_SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Audio_Frequency" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="Audio_BitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Database_FilePath" serializeAs="String">
                <value>MyNesDatabase.mndb</value>
            </setting>
            <setting name="LauncherLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="LauncherSize" serializeAs="String">
                <value>994, 617</value>
            </setting>
            <setting name="SnapsView_ImageMode" serializeAs="String">
                <value>StretchIfLarger</value>
            </setting>
            <setting name="CoversView_ImageMode" serializeAs="String">
                <value>StretchIfLarger</value>
            </setting>
            <setting name="SnapsView_ShowBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapsView_ShowStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoversView_ShowBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoversView_ShowStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LauncherSpliter1" serializeAs="String">
                <value>659</value>
            </setting>
            <setting name="LauncherSpliter2" serializeAs="String">
                <value>259</value>
            </setting>
            <setting name="LauncherAutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LauncherAutoCycleImagesInGameTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LauncherRememberLastSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LauncherLatestSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LauncherShowAyAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Folder_State" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder_Sram" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSramOnShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_StretchMulti" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Video_StretchToMulti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_StartFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_FullscreenRes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Video_ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_CutLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_HardwareVertexProcessing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_KeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_Filter" serializeAs="String">
                <value>Point</value>
            </setting>
            <setting name="Audio_LatencyInMilliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Audio_Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PauseAtFocusLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapshotFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="Folder_Snapshots" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceSnapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Palette_NTSC_brightness" serializeAs="String">
                <value>1.07</value>
            </setting>
            <setting name="Palette_NTSC_contrast" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="Palette_NTSC_gamma" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="Palette_NTSC_hue_tweak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Palette_NTSC_saturation" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Palette_PALB_brightness" serializeAs="String">
                <value>1.07</value>
            </setting>
            <setting name="Palette_PALB_contrast" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="Palette_PALB_gamma" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="Palette_PALB_hue_tweak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Palette_PALB_saturation" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="FrameSkip_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameSkip_Reload" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TVSystemSetting" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English (United States)</value>
            </setting>
            <setting name="Audio_BufferSizeInMilliseconds" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Palette_UseGenerators" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Palette_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Palette_GeneratorUsageMode" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="IgnoreNotSupportedMapper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRomIssuesIfHave" serializeAs="String">
                <value>True</value>
            </setting>
        </MyNes.Properties.Settings>
    </userSettings>
</configuration>