<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNes.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English (United States)</value>
            </setting>
            <setting name="FileDB" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderSnapshots" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderStates" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderSrams" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>528, 511</value>
            </setting>
            <setting name="AudioSoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveSRAMOnShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoOutputMode" serializeAs="String">
                <value>DirectX9</value>
            </setting>
            <setting name="AudioOutputMode" serializeAs="String">
                <value>DirectSound</value>
            </setting>
            <setting name="AudioFrequency" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="InputProfileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteNTSCHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteNTSCContrast" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PaletteNTSCGamma" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="PaletteNTSCBrightness" serializeAs="String">
                <value>1.07</value>
            </setting>
            <setting name="PaletteNTSCSaturation" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PalettePALBHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PalettePALBContrast" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PalettePALBGamma" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="PalettePALBBrightness" serializeAs="String">
                <value>1.07</value>
            </setting>
            <setting name="PalettePALBSaturation" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PaletteDENDYHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteDENDYContrast" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PaletteDENDYGamma" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="PaletteDENDYBrightness" serializeAs="String">
                <value>1.07</value>
            </setting>
            <setting name="PaletteDENDYSaturation" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="TVFormat" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="SnapshotsFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="AudioLatency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AudioVolume" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="AudioBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AudioChannelsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VideoLaunchFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoCutLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoImmediateMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoKeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoFullscreenResIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoDirect9IsHardwareVertexProcessing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoDirect9Filter" serializeAs="String">
                <value>Point</value>
            </setting>
            <setting name="ConsoleWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="ConsoleWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FrameSkippingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameSkippingCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolsBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="BrowserWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="BrowserThumbnailSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BrowserThumbnailModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrowserViewMode" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="BrowserMinimizeWindowOnRomLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowAutoPauseOnFocusLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HidingMenuForFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoWindowStretchMultiply" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VideoStretchWindowToFitSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideMousePeriod" serializeAs="String">
                <value>2</value>
            </setting>
        </MyNes.Properties.Settings>
    </userSettings>
</configuration>