<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyNes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNes.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FoldersDatabasePath" serializeAs="String">
                <value>.\fdb.fl</value>
            </setting>
            <setting name="console_location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="console_size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="CurrentRendererIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>283, 64</value>
            </setting>
            <setting name="SplitContainer1" serializeAs="String">
                <value>205</value>
            </setting>
            <setting name="SplitContainer2" serializeAs="String">
                <value>248</value>
            </setting>
            <setting name="FilterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsThumbnailsView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailsSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ThumbnailsModeSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowWelcomeAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WelcomePageIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </MyNes.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
