<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNes.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FoldersDatabasePath" serializeAs="String">
                <value>.\fdb.fl</value>
            </setting>
            <setting name="console_location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="console_size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="CurrentRenderer" serializeAs="String">
                <value>SlimDX</value>
            </setting>
            <setting name="StateFolder" serializeAs="String">
                <value>.\StateSaves</value>
            </setting>
            <setting name="ControlProfileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SnapshotsFolder" serializeAs="String">
                <value>.\Snapshots</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundPlaybackFreq" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="SoundPlaybackBit" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmuSystem" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>283, 64</value>
            </setting>
            <setting name="SplitContainer1" serializeAs="String">
                <value>205</value>
            </setting>
            <setting name="SplitContainer2" serializeAs="String">
                <value>248</value>
            </setting>
            <setting name="VideoResIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoImmediateMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoHideLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapshotFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="VideoAdapterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoStretchMultiply" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SoundMixerType" serializeAs="String">
                <value>Implementation</value>
            </setting>
            <setting name="SoundLatency" serializeAs="String">
                <value>10</value>
            </setting>
        </MyNes.Properties.Settings>
    </userSettings>
</configuration>